<header
  class="bg-basico py-1 fixed w-full z-50 overflow-hidden px-6 sm:px-10 items-center max-h-20 flex justify-between"
>
  <!-- Logo -->
  <div class="flex items-center">
    <img
      src="assets/images/logo-snobs.png"
      alt="Logo"
      class="h-16 sm:h-20 object-contain"
    />
    <div class="text-white text-xl font-bold hidden md:inline">SNOBS</div>
  </div>
  <!-- Buscador -->
  <app-buscador class=""></app-buscador>
  <!-- Menú de navegación -->
  <nav class="text-right flex gap-4">
    <a routerLink="/inicio" (click)="closeSearch()" class="text-gray-300 hover:text-white">Inicio</a>
    <a routerLink="/estrenos" class="hidden lg:inline text-gray-300 hover:text-white"
      >Estrenos</a
    >
    <a routerLink="/users" class="hidden lg:inline text-gray-300 hover:text-white"
      >Conecta</a
    >
    <a href="#" class="hidden lg:inline text-gray-300 hover:text-white"
      >Contacto</a
    >
    @if(usuarioLogeado){
      <a routerLink="/privada" class="text-gray-300 hover:text-white"
        >Privada</a
      >
    }
  </nav>
  <!-- Perfil de usuario -->
  <div class="flex items-center justify-end gap-4">
    <ng-container *ngIf="usuarioLogeado; else notLoggedIn">
      <p class="text-white" style="margin-bottom: 0px;">{{ usuario.displayName }}</p>
      <a routerLink="/profile/{{ usuario.displayName }}">
        <img
          [src]="usuario.photoURL"
          alt="avatar"
          class="h-10 sm:h-14 w-10 sm:w-14 rounded-full object-cover"
        />
      </a>
    </ng-container>
    <ng-template #notLoggedIn>
      <a routerLink="/login" class="transition duration-300 ease-in-out border border-botones hover:bg-botones-hover text-white font-semibold py-2 px-4 rounded">Iniciar sesión</a>
      <a routerLink="/register" class="transition duration-300 ease-in-out bg-botones hover:bg-botones-hover text-white font-semibold py-2 px-4 rounded"
        >Regístrate</a
      >
    </ng-template>
  </div>
</header>
