<header
  class="bg-basico py-1 fixed w-full z-40 overflow-hidden px-6 sm:px-10 items-center max-h-30 flex justify-between"
>
  <!-- Logo -->
  <div class="flex items-center">
    <a routerLink="/inicio" (click)="closeSearch()" class=""
      ><img
        src="assets/images/logo-snobs.png"
        alt="Logo"
        class="h-20 object-contain"
    /></a>
    <div class="text-white text-xl font-bold hidden md:inline">SNOBS</div>
  </div>

  <!-- Buscador -->
  @if(usuarioLogeado){ <app-buscador></app-buscador>}
  
  
  <!-- Menú de navegación (visible en dispositivos grandes) -->
  <nav
    id="mainMenu"
    class="text-right flex gap-4 md:flex md:items-center md:justify-end z-50"
  >
    <a
      routerLink="/inicio"
      (click)="closeSearch()"
      class="hidden lg:inline text-gray-300 hover:text-white"
      >Inicio</a
    >
    <a
      routerLink="/estrenos"
      class="hidden lg:inline text-gray-300 hover:text-white"
      >Estrenos</a
    >
    <a
      routerLink="/users"
      class="hidden lg:inline text-gray-300 hover:text-white"
      >Conecta</a
    >
    <a href="#" class="hidden lg:inline text-gray-300 hover:text-white"
      >Contacto</a
    >
    @if(usuarioLogeado){ }
  </nav>

  <!-- Perfil de usuario -->


      @if(usuarioLogeado){
        <div class="hidden sm:block">
        <div class="flex items-center justify-end gap-4">
        <p class="text-white" style="margin-bottom: 0px">
          {{ usuario.displayName }}
        </p>
        <a routerLink="/profile/{{ usuario.displayName }}">
          <img
            [src]="usuario.photoURL"
            alt="avatar"
            class="h-10 sm:h-14 w-10 sm:w-14 rounded-full object-cover"
          />
        </a>
      </div>
    </div>
    }


    @if(!usuarioLogeado){
      <div class="flex items-center justify-end gap-4">
        <a
        routerLink="/login"
        class="transition duration-300 ease-in-out border border-botones hover:bg-botones-hover text-white font-semibold py-2 px-4 rounded"
        >Iniciar sesión</a
      >
      <a
        routerLink="/register"
        class="transition duration-300 ease-in-out bg-botones hover:bg-botones-hover text-white font-semibold py-2 px-4 rounded hidden sm:block"
        >Regístrate</a
      >
      </div>
    }

  <!-- Botón de menú desplegable (visible en dispositivos pequeños) -->
  <button
    id="menuBtn"
    class="block md:hidden text-gray-300 hover:text-white focus:outline-none"
    (click)="abrirNav()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"
      ></path>
    </svg>
  </button>

  <!-- Menú desplegable para dispositivos pequeños -->
  <div
    id="mobileMenu"
    class="flex flex-col gap-2 hidden md:hidden fixed top-0 left-0 w-[90px] h-[160px] bg-basico py-1 px-4 rounded-lg shadow-md overflow-auto"
  >
    <a
      routerLink="/inicio"
      (click)="closeSearch()"
      class="block text-gray-300 hover:text-white"
      >Inicio</a
    >
    @if(usuarioLogeado){
    <a
      routerLink="/profile/{{ usuario.displayName }}"
      (click)="closeSearch()"
      class="block text-gray-300 hover:text-white"
      >Mi perfil</a
    >
    }

    <a routerLink="/estrenos" class="block text-gray-300 hover:text-white"
      >Estrenos</a
    >
    <a routerLink="/users" class="block text-gray-300 hover:text-white"
      >Conecta</a
    >
    <a href="#" class="block text-gray-300 hover:text-white">Contacto</a>
  </div>
</header>
