<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8 mt-5 justify-center">
  <!-- Loop sobre los usuarios -->
  @for (usuario of usuarios; track $index) {
  <div class="px-4 mb-8 flex flex-col justify-center items-center">
    <div class="flex w-48 sm:w-64 items-center justify-center h-40 bg-gray-200 rounded">
      <!-- Avatar del usuario (redondo) -->
      <img
        class="h-full w-full object-cover rounded"
        [src]="usuario.avatar"
        alt="Avatar de {{ usuario.username }}"
      />
    </div>
    <div class="px-6 py-4 w-48 sm:w-64 h-24 flex flex-col justify-center items-center">
      <!-- Nombre de usuario -->
      <div class="font-bold text-xl mb-2 text-center line-clamp-1">
        {{ usuario.username }}
      </div>
      <!-- Botón de seguir -->
      <app-follow [user_seguido]="usuario"></app-follow>
    </div>
  </div>
  }
</div>
